@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Raleway:wght@300&family=Sriracha&family=Ubuntu:wght@300&display=swap');

:root {
    --p_font: 'Raleway', sans-serif;
    --t_font: 'Sriracha', cursive;
}

*{
    font-family: var(--p_font);
    background-color: beige;
}

body{
    padding: 25px;
}

h1, h3{
    font-family: var(--t_font);
}

h3 {
    font-size: x-large;
}

p{
    font-family: var(--p_font);
}

section{
    margin: 60px;
}

img{
    width:60%;
}

.wireframe{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wireframe > h3{
    text-align: center;
    grid-column: 1 / 3;
}

footer {
    color: #c7c7c6;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #062c47;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 120px;
}
footer p{
    margin: 0%;
    background-color: #062c47;
    color: antiquewhite;
}