@media screen and (min-width: 641px) {

    .discover-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 20px;
        justify-items: center;
    }

    .interest-container {
        grid-template-areas: 
        "title title"
        "photo description"
        "photo address"
        "button button"
        ;
        max-width: 100%;
        width: 700px;
        gap: 8px;
    }

    .latestVisit{
        font-weight: bolder;
        font-size: larger;
        grid-column: 1 / 3;
    }

    figure img:hover {box-shadow: 0 0 50px #333;}
}

@media screen and (min-width: 1025px) {

    #menu{
        display: none;
    }

    .navigation{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }

    nav {
        height: 120px;
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px; 
    }

    .navigation li{
        list-style: none;
        display: list-item;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        align-items: center;
    }

    .grid img {
        border: 1px solid #fff;
    }

    .list section > * {
        max-width: 900px;
        margin: 0 1rem;
    }

    .weather-event {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .weather-info {
        display: grid;
        grid-template-columns: 50% auto;
    }

    .spot-info {
        display: flex;
    }
    footer{
        display: flex;
    }

    .footer-info{
        display: flex;
        align-items: center;
    }

    .join-main{
        display: grid;
        grid-template-columns: 50% auto;
    }

    /* Discover */
    .discover-card {
        grid-template-columns: 50% 50%;
    }
}