@media screen and (min-width: 1000px) {

    #menu{
        display: none;
    }

    .navigation{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }

    nav {
        height: 120px;
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px; 
    }

    .navigation li{
        list-style: none;
        display: list-item;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        align-items: center;
    }

    .grid img {
        border: 1px solid #fff;
    }

    .list section > * {
        max-width: 900px;
        margin: 0 1rem;
    }

    .weather-event {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .weather-info {
        display: grid;
        grid-template-columns: 50% auto;
    }

    .spot-info {
        display: flex;
    }
    footer{
        display: flex;
    }

    .footer-info{
        display: flex;
        align-items: center;
    }

    .join-main{
        display: grid;
        grid-template-columns: 50% auto;
    }
}