*{
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.intro{
    height: 140px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    gap: 10px;
}

.intro span{
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

nav{
    display: flex;
    gap: 32px;
    background-color: black;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 30px;
}

main{
    margin: 2rem;
}

section{
    border: solid black 1px;
}

section h2{
    background-color: rgb(27, 84, 190);
    color: aliceblue;
    padding: 18px;
}

.city {
    text-align: center;
}

.city img{
    display: block;
    margin: 0 auto;
    padding: 12px;
}

.card ul li{
    list-style: none;
}

figcaption{
    padding: 8px;
}

footer{
    background-color: cornflowerblue;
    color: black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}