body{
    margin: 0;
}

header{
    position: relative;
    margin: 2.5rem;;
}

h1{
    text-align: center;
}

h2 {
    margin: 0;
    padding: 2rem;
    color: white;
  }

  main {
    margin: 1.5rem;
    padding: 2rem;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
  }

  main div{
    object-fit: cover;
  }
  
section{
    background-color: #007da4;
    margin: 0.25rem;
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

p{
    color: wheat;
    margin: 0;
    font-size: larger;
}

p:nth-child(3){
    padding-bottom: 2rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 100%;
}